
.button{
    width: 100%;
    display: flex;
    justify-content: center;
    background: cadetblue;

}
.click{
    width: 80px;
    height: 30px;
    border: solid 1px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
