/*body{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.container {*/
/*    width: 1000px;*/
/*    height: 1000px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    align-content: center;*/
/*}*/


button{
    color: saddlebrown;
    width: 80px;
    height: 30px;
    border-radius: 10%;
    border:solid 0.5px;
 background: none;

}

.btn {
    /*width: 500px;*/
    /*height: 200px;*/
    /*border: solid 1px;*/
    /*display: flex;*/
    /*!*justify-content: space-between;*!*/
    /*align-items: flex-start ;*/
}