/*body {*/
/*       display: flex;*/
/*       justify-content:space-between;*/
/*       align-items: center;*/
/*    box-sizing: border-box;*/
/*    flex-wrap: wrap;*/
/*    flex-direction: column;*/

/*}*/
body{
    background: wheat;
}

.container {
    display: flex;
    justify-content: space-between;
  flex-wrap: wrap;




}
/*    !*flex-wrap: wrap;*!*/
/*    !*flex-direction: column;*!*/


/*}*/
.poster {
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.overview {*/
/*    width: 20%;*/
/*    height: 20%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: x-small;*/
/*    flex-wrap: wrap;*/
/*    flex-direction: column;*/
/*}*/
.genre{
    color:red;
    font-size: small;
    margin-top: 20px;


}
h2 {
    color: saddlebrown;
    display: flex;
    justify-content: center;
    align-items: center;

}
#movie {
    box-sizing: border-box;
    height: 650px;
    width: 500px;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    /*background: bisque;*/
    margin: 10px;



}
p {
    margin: 5px;
}
.overview{
    /*color: inherit; */
}

.link {
    color:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column

}