.movieListContainer {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:row;
  flex-wrap: wrap;

}

.poster {
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre{
    color:red;
    font-size: small;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;



}
h2 {
    color: saddlebrown;
    display: flex;
    justify-content: center;
    align-items: center;

}
#movie {
    box-sizing: border-box;
    height: 650px;
    width: 500px;
    border: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    margin: 10px;
    overflow: hidden;
    font-size: small
}
p {
    margin: 10px;
    width: 400px;
}


.link {
    color:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column

}

.searchFilm{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:row;
    flex-wrap: wrap;

}